

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
liste=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [4]:
liste1=[1,4,6,7,8,9,6,7,8,9,0]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [5]:
len(liste1)

11

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [6]:
liste1[0]

1

In [9]:
liste1[int(len(liste1)/2)]

9

In [8]:
liste1[-1]

0

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

Q1

In [3]:
it_companies=['Facebook','Google',"Microsoft","Apple","IBM","Oracle","Amazon"]

In [ ]:
Q2

In [ ]:
print(it_companies)

Q3

In [ ]:
print(len(it_companies))

In [ ]:
Q4

In [4]:
print(it_companies[0])
print(it_companies[int(len(it_companies)/2)])
print(it_companies[-1])

Facebook
Apple
Amazon

Q5

In [5]:
it_companies.remove('Oracle')

In [6]:
it_companies.insert(5,"Whatsapp")

In [75]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Whatsapp', 'Amazon']

In [ ]:
Q6

In [7]:
it_companies.append("instagram")

In [76]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Whatsapp', 'Amazon']

In [ ]:
Q7

In [8]:
it_companies.insert(int(len(it_companies)/2),"telegram")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'telegram', 'IBM', 'Whatsapp', 'Amazon', 'instagram']

In [ ]:
Q8

In [9]:
it_companies[0]=it_companies[0].upper()

In [10]:
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'telegram', 'IBM', 'Whatsapp', 'Amazon', 'instagram']

In [ ]:
Q9

In [11]:
'# ; '.join(it_companies)

'FACEBOOK# ; Google# ; Microsoft# ; Apple# ; telegram# ; IBM# ; Whatsapp# ; Amazon# ; instagram'

In [ ]:
Q10

In [12]:
it_companies.count("Apple")

1

In [ ]:
Q11

In [13]:
it_companies.sort()

In [10]:
it_companies

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [ ]:
Q12

In [14]:
it_companies.reverse()

In [13]:
it_companies

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [ ]:
Q13

In [17]:
it_companies.remove(it_companies[0])
it_companies.remove(it_companies[1])
it_companies.remove(it_companies[2])

In [ ]:
Q14

In [18]:
it_companies.remove(it_companies[-1])
it_companies.remove(it_companies[-2])
it_companies.remove(it_companies[-3])

In [ ]:
Q15

In [19]:
it_companies.remove(it_companies[int(len(it_companies)/2)])

In [ ]:
Q16

In [22]:
it_companies.remove(it_companies[0])

In [ ]:
Q17

In [ ]:
it_companies.remove(it_companies[int(len(it_companies)/2)])

In [ ]:
Q18

In [ ]:
it_companies.remove(it_companies[-1])

In [ ]:
Q19

In [24]:
it_companies.clear()

In [ ]:
Q20

In [27]:
del (it_companies)

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [3]:
front_end=['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end=['Node', 'Express', 'MongoDB']
front_end+back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

Q1

In [2]:
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
agesmin=ages[0]
agesmax=ages[-1]
agesmin,agesmax

(19, 26)

Q2

In [3]:
ages.insert(0,19)
ages.insert(-1, 26)
ages

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

Q3

In [4]:
print(ages[int(len(ages)/2)])

24

Q4

In [17]:
s=0
for i in range(0,len(ages)):
    s+=ages[i]
agesmoyen=s/len(ages)

In [19]:
int(agesmoyen)

22

Q5

In [21]:
print(range(agesmin,agesmax))

range(19, 26)

Q6

In [30]:
print(abs(agesmin-int(agesmoyen)),abs(agesmax-int(agesmoyen)))

3 4

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

Q1

In [1]:
dog={}

Q2

In [2]:
dog["nom"]="Pipo"
dog["couleur"]="noir"
dog["race"]="Berger allemend"
dog["pattes"]="Longues"
dog["age"]=20

Q3

In [15]:
student={"Prénom": "Honorine", "Nom":" GNONFIN","Sexe":"Féminin","Âge":"22","État civil":"Célibataire",
         "Les compétences":["Programmation en python","Analyste mathématique","Footballeur"], 
         "Le pays":"Bénin","La ville":"Porto-Novo", "Adresse":"Avakpa"}

Q4

In [16]:
print(len(student))

9

Q5

In [17]:
comp=student[ "Les compétences"]
print(type(comp))

<class 'list'>

Q6

In [18]:
comp.insert(2,"Danse")
comp.insert(6,"Vocal")

In [ ]:
Q7

In [19]:
cles=student.keys()
print(cles)

dict_keys(['Prénom', 'Nom', 'Sexe', 'Âge', 'État civil', 'Les compétences', 'Le pays', 'La ville', 'Adresse'])

Q8

In [20]:
val=student.values()
print(val)

dict_values(['Honorine', ' GNONFIN', 'Féminin', '22', 'Célibataire', ['Programmation en python', 'Analyste mathématique', 'Danse', 'Footballeur', 'Vocal'], 'Bénin', 'Porto-Novo', 'Avakpa'])

Q9

In [22]:
tup=student.items()
print(tup)

dict_items([('Prénom', 'Honorine'), ('Nom', ' GNONFIN'), ('Sexe', 'Féminin'), ('Âge', '22'), ('État civil', 'Célibataire'), ('Les compétences', ['Programmation en python', 'Analyste mathématique', 'Danse', 'Footballeur', 'Vocal']), ('Le pays', 'Bénin'), ('La ville', 'Porto-Novo'), ('Adresse', 'Avakpa')])

Q10

In [24]:
del student["Nom"]

Q11

In [26]:
del(dog)

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>